body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  font-family: inherit;
  font-weight: 100;
}

li {
  font-family: inherit;
  font-weight: 100;
}

a {
  color: #39b54a;
}

/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/background.jpg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}

header .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav > li > a {
  color: white;
}

.maincontent {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#speakerList .speakerslist-img {
  margin-right: 20px;
}

.speakerslist-title {
  font-size: 1.7em;
}

#home .speakerslist-title {
  font-size: 1.5em;
}

#speakerDetail .speakerslist-title {
  font-size: 2.4em;
}

#speakerDetail .speakerslist-img {
  margin: 20px 0;
}

.form-control {
  font-weight: 100;
  font-size: 1.7rem;
}

.chat-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 20px 0;
  background-color: #ffeb8b;
}

/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: 0.9em;
  padding: 0 10px;
}

.feedback,
.feedback-form-title {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.feedback-title {
  font-size: 1.2em;
}

.feedback-form-title {
  font-size: 2em;
}

.feedback-name {
  font-size: 0.6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: 0.9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}

/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #ffaf5a;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ffaf5a none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.features-items,
.features-items .items-box {
  overflow: hidden;
}

.features-area .equal-height::after {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}

.features-area.item-full .equal-height::before {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
}

.features-area .features-items .col-md-5,
.features-area .features-items .col-md-7 {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5,
.features-area .features-items.reversed .col-md-7 {
  display: inline-block;
  float: left;
}

.features-area .features-items.reversed .info-box {
  float: right;
}

.features-area .features-items .item {
  padding: 15px 30px;
}

.features-area.item-full .features-items .item {
  padding: 30px;
}

.features-area .features-items .item h4 {
  position: relative;
}

.features-area.bottom-small {
  padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
  padding-bottom: 30px;
}

.features-area .item .icon {
  margin-bottom: 20px;
}

.features-area .item .info {
}

.features-area .item .icon i {
  background: #ffffff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 1;
}

.features-area .features-items .items-box i {
  background: transparent;
}

.features-area .item .icon {
  margin-bottom: 25px;
}

.features-area .features-items.icon-solid i {
  border-radius: inherit;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.features-area .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}
.features-area .item .info p {
  margin: 0;
}

.features-area .features-items.less-icon .items-box.inc-cell .item .info {
  padding-left: 0;
}

.features-area .features-items .items-box.inc-cell .item .info a {
  color: #666666;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
}

.features-area .features-items .items-box.inc-cell .item .info a:hover {
  color: #ffaf5a;
}

.hero-section:after,
.hero-section:before {
  width: 400px;
  height: 400px;
  content: "";
  position: absolute;
  left: -200px;
  top: -20%;
  transform: rotate(24deg);
  background-image: linear-gradient(
    133.6deg,
    hsla(0, 0%, 100%, 0.21) 54.65%,
    hsla(0, 0%, 100%, 0.04) 91.5%
  );
  opacity: 0.3;
  border-radius: 80px;
  z-index: 0;
}
.hero-section:before {
  width: 554px;
  height: 564px;
  transform: rotate(-15deg);
  top: 5%;
  left: -200px;
  opacity: 0.7;
}
.hero-section:after {
  width: 554px;
  height: 564px;
  top: auto;
  bottom: 0;
  left: unset;
  right: -200px;
  transform: rotate(-195deg);
  opacity: 0.6;
}
/* .hero-section:before {
  top: -30%;
  left: -155px;
}
.hero-section:after {
  top: 18%;
  left: unset;
  right: -215px;
  bottom: auto;
} */
